<!-- New member form -->
<section id="premiere">
    <h2>Ajouter un(e) Argonaute</h2>
    <form class="new-member-form" id="new-member-form">
        <p>
            <label for="name">Nom de l&apos;Argonaute</label>
            <input id="name" name="name" type="text" placeholder="Entrez le nom" />
        </p>
        <p>
            <label for="forname">Prénom de l&apos;Argonaute</label>
            <input id="forname" name="forname" type="text" placeholder="Entrez le prénom" />
        </p>
        <p>
            <label for="qualif">Qualificatif</label>
            <input id="qualif" name="qualif" type="text" placeholder="Entrez un ou des qualificatifs" />
        </p>
        <button type="submit" name="submit" id="envoyer" onclick="siEnvoiForm($event)">Envoyer</button>
    </form>
  </section>