/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main {
  max-width: 960px;
  margin: 0 auto;
  height: 540px;
  display: flex;
  justify-content: space-between;
}

header {
  background: #f4f4f4;
  text-align: center;
  padding: 2em;
}

header img {
  max-width: 96px;
}

header h1 {
  font-size: 2.5em;
}

h1,
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

.new-member-form {
  margin: 2em 0 4em 0;
  text-align: center;
}

#troisieme {
  overflow: scroll;
}

.member-list input {
  background-color: #efaeae;
}

.member-item {
  padding: 0.25em 0;
  background-color: rgb(195, 215, 228);
  margin: 2px;
}

footer {
  margin-top: 2em;
  text-align: center;
  color: #fff;
  background: #f76c6c;
  padding: 0.25em 0;
}